.Wrapper {
  height: 60px;
  transform: skew(20deg);
  background: black;
  margin-top: 30px;
  color: #f09100;
}

.Wrapper:hover {
  background-color: slategray;
}

.Links {
  text-decoration: none;
}

.Active {
  height: 60px;
  transform: skew(20deg);
  background-color: #f09100;
  margin-top: 30px;
  color: red;
}
