.Toolbar {
  background-color: black;
  height: 4em;
  padding: 10px;
  color: #f09100;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
}

.Toolbar img {
  height: 100%;
  margin-right: 10px;
}

@media screen and (max-width: 465px) {
  .Toolbar {
    font-size: 12px;
  }
  .Toolbar img {
    height: 65%;
  }
}
