.Toolbar {
  background-color: black;
  height: 70px;
  padding: 10px;
  color: #f09100;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

img {
  height: 100%;
  margin-right: 10px;
}
