@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.Wrapper {
  width: 90%;
  margin: 0 auto;
}
.LocationInputWrapper {
  font-family: "Montserrat";
  animation: slide-left 2s;
  animation-fill-mode: forwards;
  text-align: center;
  font-weight: bold;
  position: fixed;
  background: white;
  z-index: 2;
  width: 100%;
  font-size: 20px;
}
.LeftWrapper {
  margin-top: 2em;
  font-family: "Montserrat";
  float: left;
  padding: 10px 0px 0px 90px;
  animation: slide-left 2s;
  animation-fill-mode: forwards;
  width: 40%;
  background: white;
  z-index: 1;
}

.LeftWrapper h1 {
  font-size: 30px;
}

.RightWrapper {
  margin-top: 2em;
  font-family: "Montserrat";
  float: right;
  padding: 65px 100px 0px 50px;
  animation: slide-right 2s;
  animation-fill-mode: forwards;
  width: 35%;
  z-index: 1;
  background: white;
}

.RightWrapper h1 {
  font-size: 30px;
}

.RightWrapper hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

@keyframes slide-left {
  0% {
    opacity: 0;
  }
  100% {
    margin-left: 30px;
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
  }
  100% {
    margin-right: 30px;
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
  }
  100% {
    margin-left: 30px;
    opacity: 1;
  }
}

@media screen and (min-width: 1246px) and (max-width: 1320px) {
  .LeftWrapper {
    padding: 10px 0px 0px 10px;
  }
  .RightWrapper {
    padding: 80px 20px 0px 50px;
  }
}

@media screen and (max-width: 1245px) {
  .LeftWrapper {
    padding: 10px 0px 0px 10px;
  }
  .LeftWrapper h1 {
    font-size: 40px;
  }
  .RightWrapper {
    padding: 80px 20px 0px 50px;
  }
  .RightWrapper h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1046px) {
  .LeftWrapper {
    padding: 10px 0px 0px 10px;
  }
  .LeftWrapper h1 {
    font-size: 30px;
  }
  .RightWrapper {
    padding: 80px 20px 0px 50px;
    width: 45%;
  }
  .RightWrapper h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 945px) {
  .LeftWrapper {
    padding: 10px 0px 0px 10px;
  }
  .LeftWrapper h1 {
    font-size: 30px;
  }
  .RightWrapper {
    padding: 80px 20px 0px 50px;
    width: 40%;
  }
  .RightWrapper h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 847px) {
  .LeftWrapper {
    padding: 10px 0px 0px 10px;
  }
  .LeftWrapper h1 {
    font-size: 25px;
  }
  .RightWrapper {
    padding: 80px 20px 0px 50px;
    width: 40%;
  }
  .RightWrapper h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 801px) {
  .LeftWrapper {
    padding: 15px 0px 0px 140px;
    width: 80%;
  }
  .LeftWrapper h1 {
    font-size: 25px;
  }
  .RightWrapper {
    padding: 80px 45px 0px 50px;
    width: 80%;
  }
  .RightWrapper h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 650px) {
  .LeftWrapper {
    padding: 15px 0px 0px 60px;
    width: 80%;
  }
  .LeftWrapper h1 {
    font-size: 25px;
  }
  .RightWrapper {
    padding: 80px 25px 0px 50px;
    width: 80%;
  }
  .RightWrapper h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 465px) {
  .LeftWrapper {
    padding: 10px 0px 0px 40px;
    width: 80%;
  }
  .LeftWrapper h1 {
    font-size: 20px;
  }
  .RightWrapper {
    padding: 80px 25px 0px 50px;
    width: 80%;
  }
  .RightWrapper h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  .LeftWrapper {
    padding: 10px 0px 0px 40px;
    width: 80%;
  }
  .LeftWrapper h1 {
    font-size: 15px;
  }
  .RightWrapper {
    padding: 80px 25px 0px 50px;
    font-size: 9px;
    width: 80%;
  }
  .RightWrapper h1 {
    font-size: 15px;
  }
}
