@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.LeftWrapper {
  font-family: "Montserrat";
  float: left;
  padding: 10px 0px 0px 50px;
  animation: slide-left 2s;
  animation-fill-mode: forwards;
  width: 50%;
}

.RightWrapper {
  font-family: "Montserrat";
  float: right;
  padding: 90px 200px 0px 50px;
  animation: slide-right 2s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    opacity: 0;
  }
  100% {
    margin-left: 30px;
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
  }
  100% {
    margin-right: 30px;
    padding: 90px 280px 0px 50px;
    opacity: 1;
  }
}

.LeftWrapper h1 {
  font-size: 60px;
}
