.Wrapper {
  margin-bottom: 50px;
  font-size: 20px;
}

.Wrapper h1 {
  margin-bottom: 0;
}

.Wrapper img {
  height: 100px;
}

@media screen and (max-width: 465px) {
  .Wrapper {
    font-size: 15px;
  }

  .Wrapper img {
    height: 55px;
  }
}

@media screen and (max-width: 320px) {
  .Wrapper {
    font-size: 10px;
  }

  .Wrapper img {
    height: 40px;
  }
}
